body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    padding: 10px 0;
    color: #fff;
}

header .logo img {
    max-height: 80px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #0059b3;
}

section {
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #003366;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0059b3;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
